use utf8;

{
    hide_on_startup     => 0,
    hide_from_taskbar   => 0,
    window_size         => [ 500, 300 ],

    # make the event uninteresting after
    # seen at the UI during 5 seconds
    uninteresting_after => 3,

    # deley between cliked on link and actually
    # invoke command to open it. If user 
    # clicks on the other link the timer will be
    # reset.
    open_url_delay => 2,

};
